---
import { getAnnouncements } from "../api/queries";
import Button from "../components/Button.astro";
import SectionHeading from "../components/SectionHeading.astro";
import { desktopImage } from "../lib/image-url";
import Section from "../components/Section.astro";
import { PortableText } from "astro-portabletext";

const schema = await getAnnouncements();
---

<Section id="announcement">
  <div class="grid gap-4">
    {
      schema.image && (
        <img src={desktopImage(schema.image)} alt="Announcement Image" />
      )
    }
    <div>
      {schema.heading && <SectionHeading>{schema.heading}</SectionHeading>}
      <PortableText class="text-white text-lg" value={schema.richText} />
    </div>
    <div class="flex justify-end">
      <Button><a href={schema.link}>{schema.linkTitle} &rarr;</a></Button>
    </div>
  </div>
</Section>
